API_INTERNAL_URL=http://localhost:8080
ORIGIN=http://localhost:5173
COOKIE_SECURE=false
PROTOCOL_HEADER=x-forwarded-proto
HOST_HEADER=x-forwarded-host
ADDRESS_HEADER=x-forwarded-for
XFF_DEPTH=1
ANDROID_PACKAGE_NAME=dev.vapen.app
ANDROID_CERT_SHA256_FINGERPRINTS=
